<Config>
  <!--	amount of damage that is converted to initial bleeding
			default: 0.15 (15% damage received will turn into initial bleeding)  -->
  <PercentageBled>0.15</PercentageBled>

  <!--	the minimum damage that will cause the agent to bleed
			setting too low is not recommended
			default: 25 -->
  <MinimumDamage>25</MinimumDamage>

  <!--	amount of bleeding damage from previous tick that 
			carries over to next tick. 
        	formula is an exponentional function, 
        	bleeding damage is equal to y = (BleedRate)^x
        	http://easima.com/#!1/3_h/sH%40zsH%400YM4X9t/2j/YP9g309Kre0fQC7W9/YP9kk07MbOKePxdIvxuHV5sbu/tQ8E
        	basically 0 = single bleed damage, 1 = infinite bleeding
			range from 0 to 1, anything else will be clamped
        	to these values
			default: 0.8  -->
  <BleedRate>0.8</BleedRate>

  <!--	how much should each damage type be multiplied by?
			"invalid" means all attacks without specified damage type
			usually used to instakill something, so i'd leave it at -1
			default:
			Cut: 1.0 (200% of bleeding)
			Blunt: -0.8 (20%)
			Pierce: 0.6 (160%)
			Invalid: -1 (0%)  -->
  <CutMultiplier>1.0</CutMultiplier>
  <BluntMultiplier>-0.8</BluntMultiplier>
  <PierceMultiplier>0.6</PierceMultiplier>
  <InvalidMultiplier>-1</InvalidMultiplier>

  <!--	how often should bleeding damage tick?
			like MinimumDamage, don't set too low
			accepts two decimal places (such as 0.01) 
			default: 3  -->
  <SecondsBetweenTicks>3</SecondsBetweenTicks>

  <!--		how high % speed is the character slowed down to
			0 means immobile, 1 means not slowed
        	default: false, 0.75 -->
  <SlowOnBleed enabled="false">0.75</SlowOnBleed>

  
  <!--  if enabled, each bleeding tick will stagger the victim (as if it was hit by invisible enemy)
        provided value defines how much damage a tick needs do to apply stagger effect 
        default: true, 15-->
  <StaggerOnTick enabled="true">15</StaggerOnTick>

  <!--  by how high % will NPC (excluding heroes) bleeding
        be reduced by?
        default: enabled, 0.75 (only 75% bleeding for standard troops)  -->
  <ReducedForNPCs enabled="true">0.75</ReducedForNPCs>

  <!--  determines whether bleeding is disabled for player
        default: false  -->
  <DisabledForPlayer>false</DisabledForPlayer>

  <!--  determines whether or not it should display 
        effects on player and caused by player
        default: true -->
  <DisplayPlayerEffects>true</DisplayPlayerEffects>

  <BodyMultipliers>
    <Head mult="1.2"/>  <!-- 220% bleeding -->
    <Neck mult="0.75"/>  <!-- 175% -->
    <Arms mult="-0.6"/>  <!-- 40% -->
    <Shoulders mult="-0.1"/>  <!-- 90% -->
    <Legs mult="0.15"/> <!-- 115% -->
  </BodyMultipliers>

  <Bandages enabled="true">
    <PlayerCount>3</PlayerCount>
    <!-- how many bandages does player have? -->
    <NpcCount>1</NpcCount>
    <!-- how many bandages does NPC have? -->
    <!--  a minimum medicine skill that will not only stop bleeding, but also heal the player
          the formula is medicine - MinimumMedicine * 0.15, meaning that a very skilled medic 
          would be able to heal a third of his health -->
    <MinimumMedicine>40</MinimumMedicine>
    <!-- a key that will apply bandage, default is H (35)
         full code list: https://pastebin.com/v5Vz84ys -->
    <KeyCode>35</KeyCode>
  </Bandages>

  <!--	toggles debug data in messagebox
			default: false  -->
  <Debug>false</Debug>
</Config>